<h1>Daily Learning Tracker</h1>

<%= link_to "Add Entry", new_learning_entry_path %>

<hr>

<% @entries.each do |entry| %>
  <div>
   <p>
     <strong>Date:</strong>
     <%= entry.date %>
   </p>

   <p>
     <strong>Topic:</strong>
     <%= entry.topic %>
   </p>

   <p>
     <strong>Hours:</strong>
     <%= entry.hours %>
   </p>

   <p>
     <strong>Notes:</strong>
     <%= entry.notes %>
   </p>

   <%= link_to "Edit", edit_learning_entry_path(entry) %>

   <%= link_to "Delete", learning_entry_path(entry), data:{
     turbo_method: :delete,
     turbo_confirm:"Are you sure?"
     } %>
   
   </div>

  <hr>
<% end %>
